font-face             = "Open Sans", sans-serif, Arial
menu-pane-size        = 160px
list-pane-size        = 240px
quick-commands-size   = 46px
copyright-pane-size   = 30px
layout-padding-left   = 80px
layout-padding-right  = 200px
max-content-width     = 650px

cubic-animation       = cubic-bezier(0, .71, .29, 1)

theme-light-gray      = #f4f4f4
theme-gray            = #e9e9e9
theme-dash            = #dfdfdf
theme-dark            = #31343b
theme-darker          = #24272f
theme-green           = #4DBD74
theme-emerald         = #44C3C6
theme-emerald-light   = #E4E9EC
theme-orange          = #F4BA4A
theme-lime            = #BECE4A
theme-light-lime      = #C8D233
theme-red             = #d94d44

theme-font            = #506470
theme-font-light      = #81939E
theme-font-reverse    = #6f6d7c
