@font-face {
  font-family: 'wings';
  src: url('../font/wings.eot?49865064');
  src: url('../font/wings.eot?49865064#iefix') format('embedded-opentype'),
       url('../font/wings.woff2?49865064') format('woff2'),
       url('../font/wings.woff?49865064') format('woff'),
       url('../font/wings.ttf?49865064') format('truetype'),
       url('../font/wings.svg?49865064#wings') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wings';
    src: url('../font/wings.svg?49865064#wings') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "wings";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-add-user:before { content: '\e800'; } /* '' */
.icon-airplay:before { content: '\e801'; } /* '' */
.icon-alarm:before { content: '\e802'; } /* '' */
.icon-album:before { content: '\e803'; } /* '' */
.icon-albums:before { content: '\e804'; } /* '' */
.icon-anchor:before { content: '\e805'; } /* '' */
.icon-angle-down:before { content: '\e806'; } /* '' */
.icon-angle-down-circle:before { content: '\e807'; } /* '' */
.icon-angle-left:before { content: '\e808'; } /* '' */
.icon-angle-left-circle:before { content: '\e809'; } /* '' */
.icon-angle-right:before { content: '\e80a'; } /* '' */
.icon-angle-right-circle:before { content: '\e80b'; } /* '' */
.icon-angle-up:before { content: '\e80c'; } /* '' */
.icon-angle-up-circle:before { content: '\e80d'; } /* '' */
.icon-arc:before { content: '\e80e'; } /* '' */
.icon-attention:before { content: '\e80f'; } /* '' */
.icon-back:before { content: '\e810'; } /* '' */
.icon-back-2:before { content: '\e811'; } /* '' */
.icon-ball:before { content: '\e812'; } /* '' */
.icon-bandaid:before { content: '\e813'; } /* '' */
.icon-battery:before { content: '\e814'; } /* '' */
.icon-bell:before { content: '\e815'; } /* '' */
.icon-bicycle:before { content: '\e816'; } /* '' */
.icon-bluetooth:before { content: '\e817'; } /* '' */
.icon-bookmarks:before { content: '\e818'; } /* '' */
.icon-bottom-arrow:before { content: '\e819'; } /* '' */
.icon-box1:before { content: '\e81a'; } /* '' */
.icon-box2:before { content: '\e81b'; } /* '' */
.icon-browser:before { content: '\e81c'; } /* '' */
.icon-calculator:before { content: '\e81d'; } /* '' */
.icon-call:before { content: '\e81e'; } /* '' */
.icon-camera:before { content: '\e81f'; } /* '' */
.icon-car:before { content: '\e820'; } /* '' */
.icon-cart:before { content: '\e821'; } /* '' */
.icon-cash:before { content: '\e822'; } /* '' */
.icon-chat:before { content: '\e823'; } /* '' */
.icon-check:before { content: '\e824'; } /* '' */
.icon-clock:before { content: '\e825'; } /* '' */
.icon-close:before { content: '\e826'; } /* '' */
.icon-close-circle:before { content: '\e827'; } /* '' */
.icon-cloud:before { content: '\e828'; } /* '' */
.icon-cloud-download:before { content: '\e829'; } /* '' */
.icon-cloud-upload:before { content: '\e82a'; } /* '' */
.icon-coffee:before { content: '\e82b'; } /* '' */
.icon-compass:before { content: '\e82c'; } /* '' */
.icon-config:before { content: '\e82d'; } /* '' */
.icon-credit:before { content: '\e82e'; } /* '' */
.icon-crop:before { content: '\e82f'; } /* '' */
.icon-culture:before { content: '\e830'; } /* '' */
.icon-cup:before { content: '\e831'; } /* '' */
.icon-date:before { content: '\e832'; } /* '' */
.icon-delete-user:before { content: '\e833'; } /* '' */
.icon-diamond:before { content: '\e834'; } /* '' */
.icon-disk:before { content: '\e835'; } /* '' */
.icon-diskette:before { content: '\e836'; } /* '' */
.icon-display1:before { content: '\e837'; } /* '' */
.icon-display2:before { content: '\e838'; } /* '' */
.icon-door-lock:before { content: '\e839'; } /* '' */
.icon-download:before { content: '\e83a'; } /* '' */
.icon-drawer:before { content: '\e83b'; } /* '' */
.icon-drop:before { content: '\e83c'; } /* '' */
.icon-edit:before { content: '\e83d'; } /* '' */
.icon-exapnd2:before { content: '\e83e'; } /* '' */
.icon-expand1:before { content: '\e83f'; } /* '' */
.icon-eyedropper:before { content: '\e840'; } /* '' */
.icon-female:before { content: '\e841'; } /* '' */
.icon-file:before { content: '\e842'; } /* '' */
.icon-film:before { content: '\e843'; } /* '' */
.icon-filter:before { content: '\e844'; } /* '' */
.icon-flag:before { content: '\e845'; } /* '' */
.icon-folder:before { content: '\e846'; } /* '' */
.icon-gift:before { content: '\e847'; } /* '' */
.icon-glasses:before { content: '\e848'; } /* '' */
.icon-gleam:before { content: '\e849'; } /* '' */
.icon-global:before { content: '\e84a'; } /* '' */
.icon-graph:before { content: '\e84b'; } /* '' */
.icon-graph1:before { content: '\e84c'; } /* '' */
.icon-graph2:before { content: '\e84d'; } /* '' */
.icon-graph3:before { content: '\e84e'; } /* '' */
.icon-gym:before { content: '\e84f'; } /* '' */
.icon-hammer:before { content: '\e850'; } /* '' */
.icon-headphones:before { content: '\e851'; } /* '' */
.icon-helm:before { content: '\e852'; } /* '' */
.icon-help1:before { content: '\e853'; } /* '' */
.icon-help2:before { content: '\e854'; } /* '' */
.icon-home:before { content: '\e855'; } /* '' */
.icon-hourglass:before { content: '\e856'; } /* '' */
.icon-id:before { content: '\e857'; } /* '' */
.icon-info:before { content: '\e858'; } /* '' */
.icon-joy:before { content: '\e859'; } /* '' */
.icon-junk:before { content: '\e85a'; } /* '' */
.icon-key:before { content: '\e85b'; } /* '' */
.icon-keypad:before { content: '\e85c'; } /* '' */
.icon-leaf:before { content: '\e85d'; } /* '' */
.icon-left-arrow:before { content: '\e85e'; } /* '' */
.icon-less:before { content: '\e85f'; } /* '' */
.icon-light:before { content: '\e860'; } /* '' */
.icon-like:before { content: '\e861'; } /* '' */
.icon-like2:before { content: '\e862'; } /* '' */
.icon-link:before { content: '\e863'; } /* '' */
.icon-lintern:before { content: '\e864'; } /* '' */
.icon-lock:before { content: '\e865'; } /* '' */
.icon-look:before { content: '\e866'; } /* '' */
.icon-loop:before { content: '\e867'; } /* '' */
.icon-magic-wand:before { content: '\e868'; } /* '' */
.icon-magnet:before { content: '\e869'; } /* '' */
.icon-mail:before { content: '\e86a'; } /* '' */
.icon-mail-open:before { content: '\e86b'; } /* '' */
.icon-mail-open-file:before { content: '\e86c'; } /* '' */
.icon-male:before { content: '\e86d'; } /* '' */
.icon-map:before { content: '\e86e'; } /* '' */
.icon-map-2:before { content: '\e86f'; } /* '' */
.icon-map-marker:before { content: '\e870'; } /* '' */
.icon-medal:before { content: '\e871'; } /* '' */
.icon-menu:before { content: '\e872'; } /* '' */
.icon-micro:before { content: '\e873'; } /* '' */
.icon-monitor:before { content: '\e874'; } /* '' */
.icon-moon:before { content: '\e875'; } /* '' */
.icon-more:before { content: '\e876'; } /* '' */
.icon-mouse:before { content: '\e877'; } /* '' */
.icon-music:before { content: '\e878'; } /* '' */
.icon-mute:before { content: '\e879'; } /* '' */
.icon-network:before { content: '\e87a'; } /* '' */
.icon-news-paper:before { content: '\e87b'; } /* '' */
.icon-next:before { content: '\e87c'; } /* '' */
.icon-next-2:before { content: '\e87d'; } /* '' */
.icon-note:before { content: '\e87e'; } /* '' */
.icon-notebook:before { content: '\e87f'; } /* '' */
.icon-paint:before { content: '\e880'; } /* '' */
.icon-paint-bucket:before { content: '\e881'; } /* '' */
.icon-paperclip:before { content: '\e882'; } /* '' */
.icon-paper-plane:before { content: '\e883'; } /* '' */
.icon-pen:before { content: '\e884'; } /* '' */
.icon-pendrive:before { content: '\e885'; } /* '' */
.icon-phone:before { content: '\e886'; } /* '' */
.icon-photo:before { content: '\e887'; } /* '' */
.icon-photo-gallery:before { content: '\e888'; } /* '' */
.icon-piggy:before { content: '\e889'; } /* '' */
.icon-pin:before { content: '\e88a'; } /* '' */
.icon-plane:before { content: '\e88b'; } /* '' */
.icon-play:before { content: '\e88c'; } /* '' */
.icon-plug:before { content: '\e88d'; } /* '' */
.icon-plugin:before { content: '\e88e'; } /* '' */
.icon-plus:before { content: '\e88f'; } /* '' */
.icon-portfolio:before { content: '\e890'; } /* '' */
.icon-power:before { content: '\e891'; } /* '' */
.icon-prev:before { content: '\e892'; } /* '' */
.icon-print:before { content: '\e893'; } /* '' */
.icon-radio:before { content: '\e894'; } /* '' */
.icon-refresh:before { content: '\e895'; } /* '' */
.icon-refresh-2:before { content: '\e896'; } /* '' */
.icon-refresh-cloud:before { content: '\e897'; } /* '' */
.icon-repeat:before { content: '\e898'; } /* '' */
.icon-ribbon:before { content: '\e899'; } /* '' */
.icon-right-arrow:before { content: '\e89a'; } /* '' */
.icon-rocket:before { content: '\e89b'; } /* '' */
.icon-safe:before { content: '\e89c'; } /* '' */
.icon-science:before { content: '\e89d'; } /* '' */
.icon-scissors:before { content: '\e89e'; } /* '' */
.icon-search:before { content: '\e89f'; } /* '' */
.icon-server:before { content: '\e8a0'; } /* '' */
.icon-settings:before { content: '\e8a1'; } /* '' */
.icon-share:before { content: '\e8a2'; } /* '' */
.icon-shield:before { content: '\e8a3'; } /* '' */
.icon-shopbag:before { content: '\e8a4'; } /* '' */
.icon-shuffle:before { content: '\e8a5'; } /* '' */
.icon-signal:before { content: '\e8a6'; } /* '' */
.icon-smile:before { content: '\e8a7'; } /* '' */
.icon-speaker:before { content: '\e8a8'; } /* '' */
.icon-star:before { content: '\e8a9'; } /* '' */
.icon-stopwatch:before { content: '\e8aa'; } /* '' */
.icon-study:before { content: '\e8ab'; } /* '' */
.icon-sun:before { content: '\e8ac'; } /* '' */
.icon-switch:before { content: '\e8ad'; } /* '' */
.icon-target:before { content: '\e8ae'; } /* '' */
.icon-ticket:before { content: '\e8af'; } /* '' */
.icon-timer:before { content: '\e8b0'; } /* '' */
.icon-tools:before { content: '\e8b1'; } /* '' */
.icon-trash:before { content: '\e8b2'; } /* '' */
.icon-umbrella:before { content: '\e8b3'; } /* '' */
.icon-unlock:before { content: '\e8b4'; } /* '' */
.icon-up-arrow:before { content: '\e8b5'; } /* '' */
.icon-upload:before { content: '\e8b6'; } /* '' */
.icon-usb:before { content: '\e8b7'; } /* '' */
.icon-user-female:before { content: '\e8b8'; } /* '' */
.icon-vector:before { content: '\e8b9'; } /* '' */
.icon-video:before { content: '\e8ba'; } /* '' */
.icon-voicemail:before { content: '\e8bb'; } /* '' */
.icon-volume:before { content: '\e8bc'; } /* '' */
.icon-volume1:before { content: '\e8bd'; } /* '' */
.icon-volume2:before { content: '\e8be'; } /* '' */
.icon-wallet:before { content: '\e8bf'; } /* '' */
.icon-way:before { content: '\e8c0'; } /* '' */
.icon-wine:before { content: '\e8c1'; } /* '' */
.icon-world:before { content: '\e8c2'; } /* '' */
.icon-wristwatch:before { content: '\e8c3'; } /* '' */
.icon-appbar-stream:before { content: '\e8c4'; } /* '' */
.icon-appbar-group:before { content: '\e8c5'; } /* '' */
.icon-appbar-resource-group:before { content: '\e8c6'; } /* '' */
.icon-appbar-user:before { content: '\e8c7'; } /* '' */
.icon-appbar-user-tie:before { content: '\e8c8'; } /* '' */
.icon-appbar-centerline:before { content: '\e8c9'; } /* '' */
.icon-appbar-globe:before { content: '\e8ca'; } /* '' */
.icon-appbar-people:before { content: '\e8cb'; } /* '' */
.icon-appbar-people-multiple:before { content: '\e8cc'; } /* '' */
.icon-appbar-page-corner-bookmark:before { content: '\e8cd'; } /* '' */
.icon-appbar-return:before { content: '\e8ce'; } /* '' */
.icon-appbar-social-coding4fun:before { content: '\e8cf'; } /* '' */
.icon-musiclist:before { content: '\e8d0'; } /* '' */
.icon-appbar-store:before { content: '\e8d1'; } /* '' */
.icon-appbar-tag:before { content: '\e8d2'; } /* '' */
.icon-appbar-tag-label:before { content: '\e8d3'; } /* '' */
.icon-appbar-webcam:before { content: '\e8d4'; } /* '' */
.icon-appbar.transit.connection:before { content: '\e8d5'; } /* '' */
.icon-appbar-align-center:before { content: '\e8d6'; } /* '' */
.icon-appbar-align-justify:before { content: '\e8d7'; } /* '' */
.icon-appbar-align-left:before { content: '\e8d8'; } /* '' */
.icon-appbar-align-right:before { content: '\e8d9'; } /* '' */
.icon-appbar-anchor:before { content: '\e8da'; } /* '' */
.icon-appbar-box-layered:before { content: '\e8db'; } /* '' */
.icon-appbar-cog:before { content: '\e8dc'; } /* '' */
.icon-appbar-cogs:before { content: '\e8dd'; } /* '' */
.icon-appbar-home-garage:before { content: '\e8de'; } /* '' */
.icon-appbar-home-gps:before { content: '\e8df'; } /* '' */
.icon-appbar-home-location-pin:before { content: '\e8e0'; } /* '' */
.icon-appbar-home-location-round:before { content: '\e8e1'; } /* '' */
.icon-appbar-infinite:before { content: '\e8e2'; } /* '' */
.icon-appbar-interface-button:before { content: '\e8e3'; } /* '' */
.icon-appbar-interface-dropdown:before { content: '\e8e4'; } /* '' */
.icon-note2:before { content: '\e8e5'; } /* '' */
.icon-appbar-interface-password:before { content: '\e8e6'; } /* '' */
.icon-appbar-interface-textbox:before { content: '\e8e7'; } /* '' */
.icon-appbar-people-magnify:before { content: '\e8e8'; } /* '' */
.icon-appbar-people-multiple-magnify:before { content: '\e8e9'; } /* '' */
.icon-appbar-projector-screen:before { content: '\e8ea'; } /* '' */
.icon-appbar-settings:before { content: '\e8eb'; } /* '' */
.icon-appbar-snowflake:before { content: '\e8ec'; } /* '' */
.icon-appbar-social-whatsapp:before { content: '\e8ed'; } /* '' */
.icon-appbar-text-bold:before { content: '\e8ee'; } /* '' */
.icon-appbar-text-italic:before { content: '\e8ef'; } /* '' */
.icon-appbar-text-serif:before { content: '\e8f0'; } /* '' */
.icon-appbar-text-size:before { content: '\e8f1'; } /* '' */
.icon-appbar-text-size-down:before { content: '\e8f2'; } /* '' */
.icon-appbar-text-size-up:before { content: '\e8f3'; } /* '' */
.icon-appbar-text-strikethrough:before { content: '\e8f4'; } /* '' */
.icon-appbar-text-underline:before { content: '\e8f5'; } /* '' */
.icon-appbar-tools:before { content: '\e8f6'; } /* '' */
.icon-appbar-calendar-31:before { content: '\e8f7'; } /* '' */
.icon-users:before { content: '\e8f8'; } /* '' */
.icon-appbar-calendar-future:before { content: '\e8f9'; } /* '' */
.icon-appbar-calendar-range:before { content: '\e8fa'; } /* '' */
.icon-appbar-calendar-tomorrow:before { content: '\e8fb'; } /* '' */
.icon-user:before { content: '\e8fc'; } /* '' */
.icon-appbar-forklift:before { content: '\e8fd'; } /* '' */
.icon-appbar-forklift-load:before { content: '\e8fe'; } /* '' */
.icon-appbar-truck:before { content: '\e8ff'; } /* '' */
.icon-appbar-stock-up:before { content: '\e900'; } /* '' */
.icon-appbar-money:before { content: '\e901'; } /* '' */
.icon-search-1:before { content: '\e902'; } /* '' */
.icon-star-1:before { content: '\e903'; } /* '' */
.icon-ok:before { content: '\e904'; } /* '' */
.icon-ok-circled:before { content: '\e905'; } /* '' */
.icon-ok-circled2:before { content: '\e906'; } /* '' */
.icon-ok-squared:before { content: '\e907'; } /* '' */
.icon-cancel:before { content: '\e908'; } /* '' */
.icon-cancel-circled:before { content: '\e909'; } /* '' */
.icon-cancel-circled2:before { content: '\e90a'; } /* '' */
.icon-plus-1:before { content: '\e90b'; } /* '' */
.icon-plus-circled:before { content: '\e90c'; } /* '' */
.icon-plus-squared:before { content: '\e90d'; } /* '' */
.icon-plus-squared-alt:before { content: '\e90e'; } /* '' */
.icon-minus:before { content: '\e90f'; } /* '' */
.icon-minus-circled:before { content: '\e910'; } /* '' */
.icon-minus-squared:before { content: '\e911'; } /* '' */
.icon-minus-squared-alt:before { content: '\e912'; } /* '' */
.icon-angle-left-1:before { content: '\e913'; } /* '' */
.icon-angle-right-1:before { content: '\e914'; } /* '' */
.icon-angle-up-1:before { content: '\e915'; } /* '' */
.icon-angle-down-1:before { content: '\e916'; } /* '' */
.icon-angle-double-left:before { content: '\e917'; } /* '' */
.icon-angle-double-right:before { content: '\e918'; } /* '' */
.icon-angle-double-up:before { content: '\e919'; } /* '' */
.icon-angle-double-down:before { content: '\e91a'; } /* '' */
.icon-font:before { content: '\e91b'; } /* '' */
.icon-bold:before { content: '\e91c'; } /* '' */
.icon-italic:before { content: '\e91d'; } /* '' */
.icon-header:before { content: '\e91e'; } /* '' */
.icon-paragraph:before { content: '\e91f'; } /* '' */
.icon-text-height:before { content: '\e920'; } /* '' */
.icon-text-width:before { content: '\e921'; } /* '' */
.icon-align-left:before { content: '\e922'; } /* '' */
.icon-align-center:before { content: '\e923'; } /* '' */
.icon-align-right:before { content: '\e924'; } /* '' */
.icon-align-justify:before { content: '\e925'; } /* '' */
.icon-list:before { content: '\e926'; } /* '' */
.icon-indent-left:before { content: '\e927'; } /* '' */
.icon-indent-right:before { content: '\e928'; } /* '' */
.icon-list-bullet:before { content: '\e929'; } /* '' */
.icon-list-numbered:before { content: '\e92a'; } /* '' */
.icon-strike:before { content: '\e92b'; } /* '' */
.icon-underline:before { content: '\e92c'; } /* '' */
.icon-superscript:before { content: '\e92d'; } /* '' */
.icon-subscript:before { content: '\e92e'; } /* '' */
.icon-table:before { content: '\e92f'; } /* '' */
.icon-columns:before { content: '\e930'; } /* '' */
.icon-crop-1:before { content: '\e931'; } /* '' */
.icon-scissors-1:before { content: '\e932'; } /* '' */
.icon-briefcase:before { content: '\e933'; } /* '' */
.icon-suitcase:before { content: '\e934'; } /* '' */
.icon-ellipsis:before { content: '\e935'; } /* '' */
.icon-ellipsis-vert:before { content: '\e936'; } /* '' */
.icon-off:before { content: '\e937'; } /* '' */
.icon-pencil:before { content: '\e938'; } /* '' */
.icon-pencil-neg:before { content: '\e939'; } /* '' */
.icon-down-circle:before { content: '\e93a'; } /* '' */
.icon-left-circle:before { content: '\e93b'; } /* '' */
.icon-right-circle:before { content: '\e93c'; } /* '' */
.icon-book:before { content: '\e93d'; } /* '' */
.icon-book-alt:before { content: '\e93e'; } /* '' */
.icon-hash:before { content: '\e93f'; } /* '' */
.icon-at:before { content: '\e940'; } /* '' */
.icon-facebook-rect:before { content: '\e941'; } /* '' */
.icon-twitter-bird:before { content: '\e942'; } /* '' */
.icon-googleplus-rect:before { content: '\e943'; } /* '' */
.icon-comment:before { content: '\e944'; } /* '' */
.icon-appbar-social-dropbox:before { content: '\e945'; } /* '' */
.icon-appbar-calendar-dollar:before { content: '\e946'; } /* '' */
.icon-appbar-calendar-week:before { content: '\e947'; } /* '' */
.icon-appbar-interface-list:before { content: '\e948'; } /* '' */
.icon-copy-file:before { content: '\e949'; } /* '' */
.icon-record:before { content: '\e94a'; } /* '' */
.icon-db-shape:before { content: '\e94b'; } /* '' */