@import "../variable.import.styl";

body
  margin: 0
  font-family font-face
  font-size 15px

.flex
  box-sizing: border-box; display: flex
  position: relative; flex-shrink: 0
  align-items: stretch; align-content: flex-start
  border: 0 solid black; margin: 0; padding: 0

  &.horizontal
    flex-direction: column
  &.vertical
    flex-direction: row