@import "../variable.import.styl";

.application-wrapper .content-wrapper .kernel-pane
  .kernel-content
    font-weight 300; font-size 14px

    .kernel-item
      user-select none
      margin 0 9px; padding 8px 5px