@import "../variable.import.styl";

.application-wrapper
  position fixed; top 0; left 0; right 0; bottom 0
  .menu-pane
    width menu-pane-size; height 100%
    position fixed; top 0; left 0; bottom 0

  .content-wrapper
    position fixed; top 0; left 0; bottom 0; right 0
    margin-left menu-pane-size

    .list-pane
      width list-pane-size
      border-right solid 1px theme-dash

    .kernel-pane
      flex 1

.application-wrapper .content-wrapper
  .quick-commands
    height quick-commands-size
    line-height quick-commands-size
    background-color lighten(theme-semi-gray, 5)
    box-sizing border-box
    border-bottom solid 1px theme-dash
    padding 0 5px

  .list-pane
    background-color theme-semi-gray

  .list-content, .kernel-content
    flex 1