@import "../variable.import.styl";

.application-wrapper .content-wrapper .list-pane
  .list-header
    font-size 14px; padding 10px 0

    .item-category
      cursor pointer; user-select none
      border-radius 4px; font-weight 300
      margin 2px 9px; padding 8px 3px

      &:hover, &.active
        background-color white

      &.active
        font-weight 400

      &:before
        color #5c5c5c; font-size 20px
        margin-right 6px
        transform translate(0, 1px)

  .list-tabs
    margin 0 12px; user-select none

    .tab-menu
      cursor pointer; color #9a9a9a
      flex 1; text-align center
      border-top solid 1px #e0e0e0
      padding 4px 0
      font-size 13px

      &:hover, &.active
        border-top-color #737373; color #303333

  .list-content
    background-color theme-semi-gray
    font-size 14px; font-weight 300
    padding-top 12px

    .list-item
      user-select none; position relative
      margin 0 9px; padding 8px 3px 8px 5px
      border-radius 4px; cursor pointer

      .meta
        position absolute; right 0; top 0
        display none

        .command
          display inline-block; cursor pointer
          font-size 20px; line-height 32px

      &:hover .meta
        display block

      &:hover, &.active
        background-color white

      &:before
        font-size 13px; margin-right 12px
        transform translate(0, -1px)

    .list-inserter
      position relative; user-select none
      margin 0 9px; padding 8px 0

      .insert-mask
        &:before { margin-right: 8px }
        color theme-red; cursor pointer
        padding 8px 3px 8px 4px
        border-radius 4px

        &:hover
          background-color white

      input
        width 100%; box-sizing border-box
        border-radius 4px; border none
        background-color white
        padding 8px 12px 8px 33px
        font-size 14px; font-weight 300

      .color-orb
        position absolute; left 5px; top 17px
        font-size 13px; cursor pointer
