@import "../variable.import.styl";

.application-wrapper .menu-pane
  background-color theme-dark
  color theme-font-reverse
  .user-area
    background-color lighten(theme-dark, 5)
    height quick-commands-size
    line-height quick-commands-size
    padding 0 5px 0 25px; color white
    font-size 16px
    border-bottom solid 1px theme-dark
    box-sizing border-box

  .system-area
    height 60px; padding 0 5px 0 10px

  .navigation-area
    flex 1

    .app-link
      padding 7px 5px 7px 10px; cursor pointer
      user-select none
      font-weight lighter

      &:first-child
        padding-top 22px

      &:before
        transition transform 0.3s cubic-animation
        font-size 18px; margin-right 6px

      &:hover, &.router-link-active
        color white

      &.router-link-active:before
        transform scale(1.2) rotate(360deg)